<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main-maket}">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <th:block th:replace="~{links :: links}"></th:block>
</head>
<body>
<div layout:fragment="mainFragment">
  <div th:insert="nav.html"></div>
  <div class="container mt-2">
    <div class="row justify-content-center">
      <div class="col-6">
        <form action="/add" method="post">
          <div class="row mt-2">
            <div class="col-12">
              <label>MODEL</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <input type="text" class="form-control" name="model">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label>COLOR</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <input type="text" class="form-control" name="color">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label>ENGINE</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <input type="text" class="form-control" name="engine">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label>YEAR</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <input type="text" class="form-control" name="year">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <label>AKPP</label>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <input type="text" class="form-control" name="akpp">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-12">
              <button class="btn btn-success btn-sm">ADD CAR</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
</html>