<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{main-maket}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{links :: links}"></th:block>
</head>
<body>
<div layout:fragment="mainFragment">
    <h1 class="text-center">THIS IS INDEX PAGE</h1>
    <div th:replace="~{nav.html}"></div>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-secondary mt-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        + ADD CAR
    </button>

    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/add" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">ADD CAR</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>MODEL</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="model">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>COLOR</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="color">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>ENGINE</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="engine">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>YEAR</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="year">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <label>AKPP</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" name="akpp">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>MODEL</th>
            <th>COLOR</th>
            <th>YEAR</th>
            <th>ENGINE</th>
            <th>AKPP</th>
            <th style="width: 7%;">DETAILS</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="car: ${mashini}">
            <td th:text="${car.model}"></td>
            <td th:text="${car.color}"></td>
            <td th:text="${car.year}"></td>
            <td th:text="${car.engine}"></td>
            <td th:text="${car.akpp}"></td>
            <td><a class="btn btn-secondary btn-sm" th:href="@{'/details/'+ ${car.id}}">DETAILS</a></td>
        </tr>
        </tbody>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
</body>
</html>